@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

body {
    font-family: 'Kiwi Maru', serif;
}

h1 {
    width: 60%;
    margin: 0 auto;
}

.center {
    width: 60%;
    margin: 0px auto;
}

footer {
    width: 60%;
    margin: 0px auto;
}

footer + p {
    text-align: center;
}

.contact_p {
    display: inline;
    padding: 8px;
}